{% extends "base.html" %}
{% block body %}
<div>
    {% if context %}
        <h1>博客首页</h1>
        <ul>
            {% for blog in context %}
            <li><a href="{{ url_for('blog.comment',  blog_id=blog.id) }}"><h3>{{ blog.title }}</h3></a></li>
            <span><b>{{ blog.absc }}</b></span>
            <div>
                    <span>
                        <button><a href="{{ url_for('admin.drop', blog_id=blog.id)}}">点击删除</a></button>
                    </span>
            </div>
            {% endfor %}
        </ul>
        <!-- {% for blog in blogs %}
        {{ blog }}
        <li>
            <a href="">{{ blog }}</a>
        </li>
        {% endfor %} -->
    {% else %}
        <li>您还没有添加博客</li>
    {% endif %}

</div>
{% endblock %}