{% extends "base.html" %}
{% block body %}
<div>
    <h1>Welcome login</h1>
    <div>
        <form action="{{ url_for('admin.login')}}" method="post">
            <!-- 邮箱：<input type="email" name="email" id="">
            <br>
            密码：<input type="password" name="passwd" id="">
            <br>
            <button type="submit">登录</button>
            <a href="{{ context.register }}">注册</a> -->
            {{ form.email.label }} {{ form.email() }}
            <br>
            {% for msg in get_flashed_messages()%}
            {{ msg }}
            <br>
            {% endfor %}
            {{ form.passwd.label }} {{ form.passwd }}
            <br>
            {{ form.recaptcha }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}